<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>demandmgmtsvc</display-name>

	<context-param>
		<description>
			A human readable string describing where this particular JSF application 
			is in the software development lifecycle. Valid values are 'Development', 
			'UnitTest', 'SystemTest' and 'Production'. Default is 'Production'.
			This parameter is not available in JSF 1.x.</description>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

</web-app>
